<template>
  <q-card>
    <q-card-section>
      <div class="text-h6 text-grey-8">
        Categories Management
        <!-- <q-btn label="Export" class="float-right text-capitalize text-indigo-8 shadow-3" icon="person" /> -->
        <q-btn label="Create new" @click="toggleCreatePopup()"
          class=" float-right text-capitalize text-indigo-8 shadow-3" icon="create" />
      </div>
    </q-card-section>
    <q-card-section class="q-pa-none">
      <q-table :rows="rows" :columns="columns" row-key="index">
        <!-- <template v-slot:body-cell-Action="props">
          <q-td :props="props">
            <q-btn icon="edit" size="sm" flat dense @click="handleEdit(props.row)" />
            <q-btn icon="delete" size="sm" class="q-ml-sm" flat dense @click="handleRemove(props.row)" />
          </q-td>
        </template> -->
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="index" :props="props"> {{1}} </q-td>
            <q-td key="name" :props="props">
              {{ props.row.name }}
              <q-popup-edit v-model="props.row.name" title="Update Name" v-slot="scope">
                <q-input ref="nameInput" v-model="props.row.name" dense autofocus counter />
                <q-btn label="save" flat dense @click="saveUpdate(scope, props.row)" />
                <q-btn label="cancel" class="q-ml-sm" flat dense @click="cancelUpdate(scope)" />
              </q-popup-edit>
            </q-td>
            <q-td key="created" :props="props">
              {{ formatdate(props.row.created_at) }}
            </q-td>
            <q-td key="action" :props="props">
              <q-btn icon="edit" size="sm" flat dense @click="handleEdit(props.row)" />
              <q-btn icon="delete" size="sm" class="q-ml-sm" flat dense @click="handleRemove(props.row)" />
            </q-td>
          </q-tr>
        </template>

      </q-table>
    </q-card-section>

  </q-card>
  <!-- <q-dialog v-model="isShowing">
        <q-card>
            <q-card-section>
                <div class="text-h6">Create a new product</div>
            </q-card-section>
            <div class="q-pa-md" style="min-width: 400px; max-width: 500px; ">

                <q-form @submit.prevent="onSubmit" class="q-gutter-md">
                    <q-input filled v-model="name" label="Category name *" lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something']" />
                    <div>
                        <q-btn color="secondary" label="Create New" type="submit"  />
                        <q-btn  label="Cancel" flat class="q-ml-sm" v-close-popup />
                    </div>
                </q-form>

            </div>
        </q-card>
    </q-dialog> -->
  <create-category :isShowing="isCreatePopupShowing" @hide-popup="toggleCreatePopup" @re-load-data="getListCategory" />
  <edit-category :isShowing="isEditPopupShowing" :name="name" :id="id" @hide-popup="toggleEditPopup"
    @re-load-data="getListCategory" />
  <remove-category :isShowing="isDeletePopupShowing" :name="name" :id="id" @hide-popup="toggleRemovePopup"
    @re-load-data="getListCategory" />


</template>

<script>
import { axios } from 'src/boot/axios';
import { defineComponent } from 'vue';
import CreateCategory from './CreateCategory.vue';
import EditCategory from './EditCategory.vue';
import RemoveCategory from './RemoveCategory.vue';


export default defineComponent({
  data() {
    return {
      columns: [

        { name: 'index', label: '#', field: 'index', sortable: true, align: "left" },
        { name: "name", label: "Name", field: "name", sortable: true, align: "left" },
        { name: "created", label: "Created At", field: "created_at", sortable: true, align: "left", format: val => `${new Date(val).toLocaleString()}`, },
        { name: "action", label: "Action", field: "action", sortable: false, align: "center" }
      ],
      rows: [],
      isCreatePopupShowing: false,
      isEditPopupShowing: false,
      isDeletePopupShowing: false,
      name: "",
      id: null,
    };
  },
  components: { CreateCategory, EditCategory, RemoveCategory },


  mounted() {
    this.getListCategory()
  },

  methods: {
    // onSubmit() {
    //     let data = {
    //         name: this.name
    //     };
    //     console.log(data);
    //     axios.post("http://127.0.0.1:8000/api/category", data)
    //         .then(() => {
    //         this.isShowing = false;
    //     })
    //         .catch(error => console.log(error));
    // },

    toggleCreatePopup() {
      this.isCreatePopupShowing = !this.isCreatePopupShowing;
    },

    toggleEditPopup() {
      this.isEditPopupShowing = !this.isEditPopupShowing;
    },

    toggleRemovePopup() {
      this.isDeletePopupShowing = !this.isDeletePopupShowing;
    },


    handleEdit(row) {
      this.toggleEditPopup()
      this.getCategoryById(row.id)

    },

    handleRemove(row) {
      this.toggleRemovePopup()
      this.id = row.id
      this.name = row.name

    },

    getCategoryById(id) {
      axios.get(`http://127.0.0.1:8000/api/category/${id}`)
        .then(data => {
          this.name = data.data.data.name
          this.id = data.data.data.id
        })
        .catch(error => console.log(error));
    },

    getListCategory() {
      axios.get("http://127.0.0.1:8000/api/category")
        .then(data => {
          this.rows = data.data.data.data;
          console.log(this.rows)
        })
        .catch(error => console.log(error));
    },

    formatdate(date) {
      return new Date(date).toLocaleString()
    },

    saveUpdate(scope, prop) {

      console.log(scope, prop)
      scope.cancel()
      let data = {
        name: prop.name
      }
      console.log(data)
      axios.put(`http://127.0.0.1:8000/api/category/${prop.id}`, data)

        .then(() => {

        }
        )
        .catch(error => console.log(error))
    },

    cancelUpdate(scope) {
     
      scope.cancel()
    }



  },

  computed: {

  },

});
</script>

<style lang="scss" scoped>

</style>