<template>
    <q-dialog v-model="isShowing" >
        <q-card>
            <q-card-section>
                <div class="text-h6">Edit product</div>
            </q-card-section>
            <div class="q-pa-md" style="min-width: 400px; max-width: 500px; ">

                <q-form @submit.prevent="onSubmit()" class="q-gutter-md">
                    <q-input filled v-model="name" label="Category name *" lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something']"  />
                    <div>
                        <q-btn label="Update" type="submit" color="secondary" />
                        <q-btn label="Cancel" color="primary" flat class="q-ml-sm" @click="hide()" />
                    </div>
                </q-form>

            </div>

        </q-card>
    </q-dialog>
</template>

<script>
import { axios } from 'src/boot/axios';
export default {

    props: {
        isShowing: Boolean,
        id: Number,
        name: String
    },
    data() {
        return {

            
        }
    },
    methods: {
        onSubmit() {
            let data = {
                name: this.name
            }
            console.log(data)
            axios.put(`http://127.0.0.1:8000/api/category/${this.id}`, data)

                .then(() => {
                    this.hide()
                    this.reloadData()
                }
                )
                .catch(error => console.log(error))
        },
        hide() {
            this.$emit('hide-popup')
        },
       
        reloadData() {
            this.$emit('re-load-data')
        }

    }
}
</script>

<style lang="scss" scoped>

</style>