<template>
  <q-dialog v-model="isShowing">
    <q-card>
      <q-card-section>
        <div class="text-h6">Create a new product</div>
      </q-card-section>
      <div class="q-pa-md" style="min-width: 300px; max-width: 300px">
        <q-form @submit="onSubmit" class="q-gutter-md">
          <q-select filled v-model="category" :options="categories" option-label="name" option-value="id"
            label="Category *" lazy-rules
            :rules="[ val => val  || 'Please select category']" />
          <q-input filled v-model="name" label="Product name *" lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']" />
          <q-input filled v-model="description" label="Description *" lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']" />

          <q-input filled v-model="cost" label="Product cost *" lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']" />

          <q-input filled v-model="code" label="Product code *" lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']" />

          <div>
            <q-btn label="Create New" type="submit" color="secondary" />
            <q-btn label="Cancel" type="cancel" color="primary" flat class="q-ml-sm" @click="hide()" />
          </div>
        </q-form>

      </div>
    </q-card>
  </q-dialog>
</template>

<script>
import { axios } from 'src/boot/axios';
import { ref } from 'vue';
export default {

  props: {
    isShowing: Boolean
  },
  data() {
    return {
      category: ref(null),
      categories: [],
      name: "",
      description: "",
      cost: null,
      code: ""
    }
  },
  mounted() {
    this.getListCategory
  },
  methods: {
    onSubmit() {
      let data = {
        name: this.name,
        description: this.description,
        cost: this.cost,
        code: this.code,
        category_id: this.category.id

      }
      console.log(data)
      axios.post("http://127.0.0.1:8000/api/product", data)

        .then((data) => {
          // console.log(data)
          // // if(data.status === 201){

          // // }

           this.hide()
          // this.reLoadData()
          // console.log(123)
        })
        .catch(error => console.log(error))
    },

    hide() {
      this.$emit('hide-create-popup')
    },

    reLoadData() {
      this.$emit('re-load-data')
    }
  },
  computed: {
    getListCategory() {
      axios.get("http://127.0.0.1:8000/api/category")
        .then(data => {
          console.log(data.data.data.data);
          this.categories = data.data.data.data;
        })
        .catch(error => console.log(error));
    },
  }
}
</script>

<style lang="scss" scoped>

</style>