<template>
    <q-card>
        <q-card-section>
            <div class="text-h6 text-grey-8">
                Product Management
                <!-- <q-btn label="Export" class="float-right text-capitalize text-indigo-8 shadow-3" icon="person" /> -->
                <q-btn label="Create new" @click="showCreatePopup"
                    class=" float-right text-capitalize text-indigo-8 shadow-3" icon="create" />
            </div>
        </q-card-section>
        <q-card-section class="q-pa-none">
            <q-table :rows="rows" :columns="columns">
                <template v-slot:body-cell-Action="props">
                    <q-td :props="props">
                        <q-btn icon="edit" size="sm" flat dense />
                        <q-btn icon="delete" size="sm" class="q-ml-sm" flat dense />
                    </q-td>
                </template>

            </q-table>
        </q-card-section>

    </q-card>
    <!-- <q-dialog v-model="isShowing">
        <q-card>
            <q-card-section>
                <div class="text-h6">Create a new product</div>
            </q-card-section>
            <div class="q-pa-md" style="max-width: 400px">

                <q-form @submit="onSubmit" class="q-gutter-md">
                    <q-input filled v-model="name" label="Your name *" lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something']" />
                    <q-input filled v-model="description" label="Your name *" lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something']" />

                    <q-input filled v-model="cost" label="Your name *" lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something']" />

                    <q-input filled v-model="code" label="Your name *" lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something']" />

                    <div>
                        <q-btn label="Create New" type="submit" color="primary" />
                        <q-btn label="Cancel" type="cancel" color="primary" flat class="q-ml-sm" v-close-popup />
                    </div>
                </q-form>

            </div>
            <q-card-section class="q-pt-none">
            </q-card-section>

            <q-card-actions align="right">
                <q-btn flat label="OK" color="primary" v-close-popup />
            </q-card-actions>
        </q-card>
    </q-dialog> -->
    <create-product :isShowing="isCreatePopupShowing" @hide-create-popup="hideCreatePopup" />
</template>

<script>
import { axios } from 'src/boot/axios';
import { defineComponent } from 'vue';
import CreateProduct from './CreateProduct.vue';
export default defineComponent({
    data() {
        return {
            columns: [
                { name: "id", label: "ID", field: "id", sortable: true, align: "left" },
                { name: "name", label: "Name", field: "name", sortable: true, align: "left" },
                { name: "description", label: "Description", field: "description", sortable: true, align: "left" },
                { name: "cost", label: "Cost", field: "cost", sortable: true, align: "left" },
                { name: "code", label: "Code", field: "code", sortable: true, align: "left" },
                { name: "created", label: "Created At", field: "created_at", sortable: true, align: "left", format: val => `${new Date(val).toLocaleString()}`, },
                { name: "Action", label: "Action", field: "Action", sortable: false, align: "center" }
            ],
            rows: [],
            isCreatePopupShowing: false,
            isEditPopupShowing: false,
            isRemovePopupShowing: false,
            name: "",
            description: "",
            cost: null,
            code: "",
            categoryId: null
        };
    },
    components: { CreateProduct },
    methods: {
        showCreatePopup() {
            this.isCreatePopupShowing = true
        },
        hideCreatePopup() {
            this.isCreatePopupShowing = false
        },
        showEditPopup() {
            this.isEditPopupShowing = true
        },
        hideEditPopup() {
            this.isEditPopupShowing = false
        },
        showRemovePopup() {
            this.isRemovePopupShowing = true
        },
        hideRemovePopup() {
            this.isRemovePopupShowing = false
        },
    },
    mounted() {
        axios.get("http://127.0.0.1:8000/api/product")
            .then(data => {
            console.log(data.data.data.data);
            this.rows = data.data.data.data;
        })
            .catch(error => console.log(error));
    },
    
});
</script>

<style lang="scss" scoped>

</style>