<template>
    <q-page class="q-pa-sm">
      <table-categories class="q-mt-lg"></table-categories>
    </q-page>
  </template>
  
  <script>
  import {defineComponent, defineAsyncComponent} from 'vue';
  
  export default defineComponent({
    name: "Categories",
    components: {
      TableCategories: defineAsyncComponent(() => import('components/category/Categories'))
    },
  })
  </script>
  
  <style>
  
  </style>
  