<template>
  <q-page class="q-pa-sm">
    <table-products class="q-mt-lg"></table-products>
  </q-page>
</template>

<script>
import {defineComponent, defineAsyncComponent} from 'vue';

export default defineComponent({
  name: "Products",
  components: {
    TableProducts: defineAsyncComponent(() => import('components/product/Products'))
  },
})
</script>

<style>

</style>
